page-rate-umpire {
  .question-text {
    @extend .heyblue-text-x-large-centered-black;
    font-weight: bold;
  }

  .rating {
    margin: 0;
    padding: 0;
    text-align: center;

    &.rating > li {
      margin: 0em;
      width: 100%;
      padding: 0 !important;
      background: none;
      color: #ffb400;

      ion-icon {
        margin: 0 2vw !important;
        padding: 0 !important;
        font-size: x-large;
      }
    }
  }

  progress[value]{
    width: 100%;
  }
}
