page-home {
  .heyblue-text-small-centered{
    @extend .heyblue-text-x-small-centered;
    font-size: small;
  }

  .heyblue-footer{
    height: 4em;
  }

  .heyblue-footer-img {
    height: 3.5em;
  }
}
