<ion-menu [content]="content">
  <ion-header>
    <ion-navbar color="heybluecolor">
        <div class="heyblue-menu-header-img-container">
          <img src="assets/img/heyBlueText.svg">
        </div>
    </ion-navbar>
  </ion-header>

  <ion-content class="heyblue-menu">
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="heyblue-menu-button">
        <ion-icon ios="{{p.icon}}" md="{{p.icon}}" *ngIf="p.iconpack === 'ionicons'" class="heyblue-menu-button-icon"></ion-icon>
        <custom-icon set="{{p.iconpack}}" name="{{p.icon}}" *ngIf="p.iconpack !== 'ionicons'" class="heyblue-menu-button-icon"></custom-icon>
        <span style="vertical-align: middle;">{{p.title}}</span>
      </button>
      <button menuClose ion-item class="heyblue-menu-button">
        <!--<ion-icon ios="md-log-out" md="md-log-out" class="heyblue-menu-button-icon"></ion-icon>-->
        <custom-icon set="fontAwesome" name="sign-out" class="heyblue-menu-button-icon"></custom-icon>
        Log out
      </button>
    </ion-list>
  </ion-content>

  <ion-footer>
    <div class="heyblue-bottom-bar">
      <ion-title>© 2016 Hey Blue LLC</ion-title>
    </div>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
